@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Heading-font';
  src: url('/assets/fonts/Heading-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Regular';
  src: url('/assets/fonts/Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-regular);
  --font-heading: var(--font-heading);
}

@layer base {
  body {
    font-family: var(--font-regular);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    font-size: clamp(3rem, 15vw, 12rem);
    line-height: 0.85;
  }
  h2 {
    font-size: clamp(2.5rem, 10vw, 8rem);
    line-height: 0.9;
  }
  p {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
  }
}

.clip-text {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE, old Edge */
html {
  -ms-overflow-style: none;
}